{
    "singleQuote": true,
    "arrowParens": "avoid",
    "semi": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 130,
    "overrides": [
        {
          "files": [
            "*.blade.php"
          ],
          "options": {
            "parser": "blade",
            "tabWidth": 4
          }
        }
      ]
}
